.flex1 {
    display: flex;
    gap: 12px;
}

.flex1 div {
    background-color: aquamarine;
    padding: 12px;
}

.flex2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.flex2 div {
    background-color: aquamarine;
    padding: 12px;
}
.flex3{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.flex3 div {
    background-color: aquamarine;
    padding: 12px;
}