@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  padding: 0 25px;
}

.logo {
  width: 200px;
}
.nav-items ul {
  display: flex;
  list-style: none;
  gap: 70px;
}
.nav-items ul li {
  font-size: 24px;
}
.body {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  margin-top: 85px;
}
.res-card {
  width: 300px;
  height: 300px;
  background-color: rgba(214, 214, 214, 0.144);
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
.shimmer-card {
  width: 300px;
  height: 300px;
  background-color: rgba(214, 214, 214, 0.116);
  border-radius: 8px;
  margin: 10px;
}
.res-card:hover {
  box-shadow: 5px 5px 5px rgb(197, 197, 197);
  transition: box-shadow 0.8s ease-in-out;
}
.res-cardImg {
  width: 100%;
  height: 60%;
  border-radius: 8px 8px 0 0;
}
.shimmer-card-img {
  background-color: rgba(214, 214, 214, 0.664);
  width: 100%;
  height: 60%;
  border-radius: 8px 8px 0 0;
}
.btn-Filter {
  width: 88px;
  border-radius: 4px;
  border: none;
  background-color: rgb(159, 253, 253);
  color: rgb(75, 75, 75);
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 50px;
}
.filter {
  display: flex;
  align-items: center;
  gap: 15px;
}
.search {
  margin-top: 50px;
  display: flex;
  gap: 5px;
}
.menuPage{
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  color: rgba(49, 49, 49, 0.87);
}
.cross{
  text-decoration: line-through;
}
.menuName{
  margin: 15px 0;
}
.menuitem{
  display: flex;
  justify-content: space-between;
}
.menu-Img{
  width: 150px;
  height: 150px;
  border-radius: 8px;
}
.line{
  border-top: 1px solid rgba(184, 171, 171, 0.521);
  margin: 15px auto;
}
.user-card{
  padding: 10px;
  border: 1px solid black;
  max-width: 300px;
  margin: 50px 50px;
}