.flex1 {
    display: flex;
    gap: 12px;
}

.flex1 div {
    background-color: aquamarine;
    padding: 12px;
}

.flex2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.flex2 div {
    background-color: aquamarine;
    padding: 12px;
}

.flex3 {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.flex3 div {
    background-color: aquamarine;
    padding: 12px;
}

.one {
    background-color: aquamarine;
    padding: 12px;
    height:40px;
    width: 40px;;
}

.flex4 {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height:40vh;
    gap: 5px;
    align-items: center;
}

.onebox {
    background-color: aquamarine;
    padding: 12px;
    width: 54px;
    height: 44px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
}

.item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.item:nth-child(2) {
    /* flex-basis: 150px; */
}
.container2 {
    display: flex;
}

.item2 {
    flex-shrink: 1;
    flex-basis: auto;
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.item2:nth-child(2) {
    flex-grow: 2;
}
.container3 {
    display: flex;
}

.item3 {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.item3:nth-child(2) {
    flex-basis: 200px;
}