.box1 {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
}

.box2 {
    background-color: green;
    width: 100px;
    height: 100px;
}

.box3 {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

.boxes1 {
    display: flex;
    gap: 15px;
    position: relative;
}

.boxes1 .box1 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.boxes1 .box2 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.boxes1 .box3 {
    position: absolute;
    top: 60px;
    left: 60px;
}

.Exapmle2 {
    margin-top: 180px;

}

.paragraph {
    margin-top: 180px;

}

.boxes2 {
    display: flex;
    justify-content: end;
    position: fixed;
    gap: 20px;
}
.boxes3{
    display: flex;
    gap: 20px;
}
.boxes3 .box1{
    position: relative;
    top: 20px;
    left: 20px;
}
.boxes3 .box2{
    position: relative;
    top: 60px;
    left: 20px;
}
.boxes3 .box3{
    position: relative;
    top: 80px;
    left: 20px;
}